<script lang="ts">
  import CodeInline from '$doc/components/CodeInline.svelte';
  import SectionTitle from '$doc/components/SectionTitle.svelte';
</script>

<SectionTitle title="Setup" />

Import the <CodeInline>Group</CodeInline> component.

```svelte example hideDemo
<script>
  import { Group } from 'oxeye-daisy';
</script>
```