<script lang="ts">
  import Page from '$doc/components/Page.svelte';
  import PageHeader from '$doc/components/PageHeader.svelte';
  import PageSidebar from '$doc/components/PageSidebar.svelte';
  import ButtonDoc from './ButtonDoc.svx';
</script>

<Page>
  <PageHeader title="Button" daisyComponent="button" />
  <ButtonDoc />
  <PageSidebar slot="sidebar" items={[
    'Setup'
  ]} />
</Page>

